.feedImageUrl{
  display: flex;
}

.feedImageUrl button{
  /* background-color: red; */
  font-size: 1.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.feedImageUrl button:nth-child(1){
  background-color: rgb(236, 225, 25);
}

.feedImageUrl button:hover{
  background-color: rgb(208, 199, 20);
}

.feedImageUrl input{
  width: 16rem;  
}