.feedIdentifierCreator {
}

.feedIdentifierCreator p {
  font-size: 1.4rem;
  padding: 0.2rem;
  margin-left: 9rem;
}

.feedIdentifierCreator p:nth-child(1) {
  font-weight: bold;
  margin-top: 1rem;
}
