header {
  background-color: rgb(156, 157, 156);
  height: 100%;
  padding: 2rem;
}

header ul {
  font-size: 2.2rem;
  font-weight: 700;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header li {
  padding: 0 1rem;
}

.disconnect {
  cursor: pointer;
}

.disconnect:hover {
  color: red;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 0, 0);
}

.active {
  color: rgb(255, 242, 0);
}
