:root{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  /* max-width: 100%; */
  background-color:rgb(122, 122, 122);
  font-family: sans-serif;
  
}

section{
  max-width: 100vw;
}