:root {
  font-size: 62.5%;
  --header-bg-color: rgb(156, 157, 156);
  --body-bg-color: rgb(122, 122, 122);
  --cardPost-bg-color: rgba(38, 87, 87, 0.418);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Lato", sans-serif;
}

section {
  max-width: 100vw;
}

p {
  font-size: 3rem;
  color: white;
}
